name: Github Actions

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Increment version
        uses: 'mickem/gh-action-bump-maven-version@v1.0.0'
        with:
          pom-file: 'pom.xml'

      - name: Save Version
        run: echo "VERSION=$(grep version pom.xml | grep -v -e '<?xml|~'| head -n 3 | tail -n 1 | sed 's/[[:space:]]//g' | sed -E 's/<.{0,1}version>//g' | awk '{print $1}')" >> $GITHUB_ENV

      - name: Build the Docker image
        run: docker build --build-arg VERSION=$VERSION -t barminz/batbat:${{ env.VERSION }} .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Push current version
        run: docker push barminz/batbat:${{ env.VERSION }}

      - name: Tag latest
        run: docker tag barminz/batbat:${{ env.VERSION }} barminz/batbat:latest

      - name: Push latest
        run: docker push barminz/batbat:latest

#  deploy:
#    needs: build
#    runs-on: ubuntu-latest

#    steps:

#      - name: Checkout Repo
#        uses: actions/checkout@v3

 #     - name: Configure AWS Credentials
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: eu-north-1

 #     - name: Terraform init and apply
 #       run: |
  #        cd terraform
   #       terraform init
    #      terraform apply -auto-approve
